<h1> New Investment </h1>

<%= form_for( @investment ) do |f| %>

<% if @investment.errors.any? %>
<div>
        <h2><%= pluralize( @investment.errors.count, "error" ) %> prohibited this post from being saved.</h2>
        <h2><%= pluralize( @investment.errors.count, "error" ) %> prohibited this post from being saved.</h2>
        <ul>
                <% @question.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
                <% end %>
        </ul>
</div>
<% end %>

<div class="form-group">
        <%= f.label "Item Name" %>
        <%= f.text_field :itemName, class: 'form-control' %>
</div>
<div class="form-group">
        <%= f.label "Purchase Amount" %>
        <%= f.text_area :purchaseAmount, class: 'form-control', rows: '1' %>
</div>

<div class="form-group">
        <%= f.submit class: 'btn btn-primary' %>

</div>

<% end %>