<div class="container">

	<div class="row">
		<div class="col-md-12">
			<br/>
			<h2 class="text-center">so you want to buy some stuff...</h2><br/><br/>
		</div>
	</div>
	
	<div class="row">
		<div class="col-md-12">
<%= form_for( @investment ) do |f| %>

<% if @investment.errors.any? %>
<div>
        <h2><%= pluralize( @investment.errors.count, "error" ) %> prohibited this post from being saved.</h2>
        <h2><%= pluralize( @investment.errors.count, "error" ) %> prohibited this post from being saved.</h2>
        <ul>
                <% @question.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
                <% end %>
        </ul>
</div>
<% end %>
		</div>
	</div>

<div class="form-group">
        <h1 class="text-center"><%= f.label "What do you want to buy?" %></h1><br/>
		<h1 class="text-center"><%= f.text_field :itemName %>
		</h1>
        <br/><br/><br/>
</div>

<div class="form-group">
        <h1 class="text-center"><%= f.label "how much does it cost?" %></h1>
        <h1 class="text-center"><%= label_tag('$') %> <%= f.text_area :purchaseAmount, rows: '1' %></h1><br/>
</div>

<div class="form-group text-center">
        <%= f.submit("convince me!", class: 'btn btn-primary') %>
</div>

<% end %>
</div>